$bg-color: grey;
$test: " Tschüss!";
$primary-color: red;

h1 {
  color: $primary-color;
  background-color: $bg-color;
  padding: 10px;
}

body {
  background-color: $primary-color;
}

h1:before {
  content: $test;
}
