@use "variables" as *;

@mixin coolDesign($color) {
  color: $color;
  background-color: lighten($color, 40);
}

.special-class {
  background-color: purple !important;
  width: 250px;
}

div {
  background-color: green;
  padding: 20px;
  @extend .special-class;

  h1 {
    @include coolDesign(red);
  }

  &.test {
    background-color: blue;
    &-1 {
      background-color: yellow;
    }
  }
}

div {
  padding: 20px;
}

h1 {
  @include coolDesign($primary-color);
  padding: 10px;
}

body {
  background-color: $primary-color;
}

h1:before {
  content: $test;
}
